<section class="section contact-section" id="next">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-5" data-aos="fade-up" data-aos-delay="200">
        <h2 class="sub-heading">Obrigado pela Visita!</h2>
        <h3>Já recebemos seu contato.</h3>
        <p>
        <h3>O mais breve possível responderemos.</h3>
        </p>
        <span class="sub-heading"><span class="fa fa-star text-primary"></span> Os Agricultores Familiares Agradecem.<span class="fa fa-star text-primary"></span></span>
      </div>
    </div>
  </div>
</section>
