<!-- Mensagem Principal -->
<section class="site-hero overlay" style="background-image: url(images/agricultura-familiar-2.jpg)" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center" data-aos="fade-up">
        <span class="custom-caption text-uppercase text-white d-block  mb-3">Bem vindo ao <span class="fa fa-star text-primary"></span> Portal Agro <span class="fa fa-star text-primary"></span></span>
        <h1 class="heading">O Melhor da Agricultura Familiar da Sua Cidade</h1>
      </div>
    </div>
  </div>

  <a class="mouse smoothscroll" href="#next">
    <div class="mouse-icon">
      <span class="mouse-wheel"></span>
    </div>
  </a>
</section>

<!-- Mostrar o Objetivo do Portal -->
<section class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
        <figure class="img-absolute">
          <img src="images/produtor.jpg" alt="Image" class="img-fluid">
        </figure>
        <img src="images/produto.jpg" alt="Image" class="img-fluid rounded">
      </div>
      <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
        <h2 class="heading">Bem Vindo</h2>
        <p class="mb-4">Aqui você encontrará ....</p>
        <p><a href="https://www.youtube.com/watch?v=Uit7H-78XPI"  data-fancybox class="btn btn-primary text-white py-2 mr-3">Os Produtos</a><span class="mr-3 font-family-serif"><em>e</em></span><a href="https://www.youtube.com/watch?v=cen9ZMYzUm0"  data-fancybox class="btn btn-primary text-white py-2 mr-3">Os Produtores</a></p>
      </div>
      
    </div>
  </div>
</section>

<!-- Os Produtos -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">Produtos</h2>
        <p data-aos="fade-up" data-aos-delay="100">Os produtos ...</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4" data-aos="fade-up">
        <a href="#" class="room">
          <figure class="img-wrap">
            <img src="images/milho.jpg" alt="Free website template" class="img-fluid mb-3">
          </figure>
          <div class="p-3 text-center room-info">
            <h2>Milho</h2>
            <span class="text-uppercase letter-spacing-1">R$ 60,00 / por mão</span>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-4" data-aos="fade-up">
        <a href="#" class="room">
          <figure class="img-wrap">
            <img src="images/leite.jpg" alt="Free website template" class="img-fluid mb-3">
          </figure>
          <div class="p-3 text-center room-info">
            <h2>Leite</h2>
            <span class="text-uppercase letter-spacing-1">R$ 1,00 / por litro</span>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-4" data-aos="fade-up">
        <a href="#" class="room">
          <figure class="img-wrap">
            <img src="images/ovo.jpg" alt="Free website template" class="img-fluid mb-3">
          </figure>
          <div class="p-3 text-center room-info">
            <h2>Ovo</h2>
            <span class="text-uppercase letter-spacing-1">R$ 6,00 / por duzia</span>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>

<!-- Os Produtores -->
<section class="section blog-post-entry bg-light">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">Produtores</h2>
        <p data-aos="fade-up">Os produtores ....</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="100">

        <div class="media media-custom d-block mb-4 h-100">
          <a href="#" class="mb-4 d-block"><img src="images/vanderley-pio.jpg" alt="Image placeholder" class="img-fluid"></a>
          <div class="media-body">
            <span class="meta-post">Inscrito em 30/02/2018</span>
            <h2 class="mt-0 mb-3"><a href="#">Vanderley Pio</a></h2>
            <p>Sr Vanderley é nascido ....</p>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="200">
        <div class="media media-custom d-block mb-4 h-100">
          <a href="#" class="mb-4 d-block"><img src="images/wilson-frade.jpg" alt="Image placeholder" class="img-fluid"></a>
          <div class="media-body">
            <span class="meta-post">Inscrito em 26/02/2018</span>
            <h2 class="mt-0 mb-3"><a href="#">Wilson Frande</a></h2>
            <p>Nascido e criado em ...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="300">
        <div class="media media-custom d-block mb-4 h-100">
          <a href="#" class="mb-4 d-block"><img src="images/stephan-gaehwiler.jpg" alt="Image placeholder" class="img-fluid"></a>
          <div class="media-body">
            <span class="meta-post">Inscrito em 01/02/2019</span>
            <h2 class="mt-0 mb-3"><a href="#">Stephan Gaehwiler</a></h2>
            <p>Nascido na Suíça ...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensagem Principal -->
<section class="section bg-image overlay" style="background-image: url('images/agricultura-familiar-1.jpg');">
    <div class="container" >
      <div class="row align-items-center">
        <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
          <h2 class="text-white font-weight-bold">O Melhor da Agricultura Familiar da Sua Cidade. Encomende Agora!</h2>
        </div>
        <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
          <a href="reservation.html" class="btn btn-outline-white-primary py-3 text-white px-5">Encomende</a>
        </div>
      </div>
    </div>
  </section>