<section class="py-5 bg-light" id="next">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
        <figure class="img-absolute">
          <img src="/images/image_<%= Random.new.rand(1..2) %>.jpg" alt="" class="img-fluid">
        </figure>
        <img src="/images/agricultura-familiar-<%= Random.new.rand(1..5) %>.jpg" alt="Image" class="img-fluid rounded">
      </div>
      <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
        <h2 class="heading">Portal Agro</h2>
        <p class="mb-4">Nosso sonho é ....</p>
        <p>
          <a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-primary text-white py-2 mr-3" data-fancybox>Veja
            o Vídeo</a></p>
      </div>

    </div>
  </div>
</section>

<div class="section">
  <div class="container">

    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7 mb-5">
        <h2 class="heading" data-aos="fade">Nossa História</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="timeline-item" date-is='2005' data-aos="fade">
          <h3>Em Belém</h3>
          <p>Foi para ...</p>
          <p>Depois de ...</p>
        </div>

        <div class="timeline-item" date-is='2018' data-aos="fade">
          <h3>Em Brasília</h3>
          <p>Foi para ...</p>
          <p>Depois de ...</p>
        </div>

        <div class="timeline-item" date-is='2019' data-aos="fade">
          <h3>Em Corumbá</h3>
          <p>Foi para ...</p>
          <p>Depois de ...</p>
        </div>
      </div>
    </div>


  </div>
</div>