<!-- Mensagem Principal -->

<% unless controller_name.eql? "sobre" %>
  <section class="section bg-image overlay" style="background-image: url('/images/agricultura-familiar-<%= Random.new.rand(1..5) %>.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-9 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
          <h2 class="text-white font-weight-bold"><%= t("footer.mensagem_secundaria.mensagem_primaria") %></h2>
        </div>
        <div class="col-12 col-md-3 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
          <%= link_to t("footer.mensagem_secundaria.mensagem_secundaria"), objetivo_path, class: "btn btn-outline-white-primary py-3 text-white px-5" %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<footer class="section footer-section">
  <div class="container">
    <div class="row pt-5">
      <p class="col-md-6 text-left">
        <%= t("footer.copyright").html_safe %>
      </p>
      <p class="col-md-6 text-right social">
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="#"><span class="fa fa-instagram"></span></a>
        <a href="#"><span class="fa fa-youtube"></span></a>
      </p>
    </div>
  </div>
</footer>

