<footer class="section footer-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-3 mb-5">
        <ul class="list-unstyled link">
          <li><a href="/">Principal</a></li>
          <li><a href="/produtos">Produtos</a></li>
          <li><a href="/produtores">Produtores</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Sobre</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-5 pr-md-5 contact-info">
        <!-- <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li> -->
        <p><span class="d-block"><span class="ion-ios-location h5 mr-3 text-primary"></span>Endereço:</span> <span> Corumbá de Goiás, Rua da Bandeira</span></p>
        <p><span class="d-block"><span class="ion-ios-telephone h5 mr-3 text-primary"></span>Telefone:</span> <span> (62) 99999-1234</span></p>
        <p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-primary"></span>Email:</span><span>contato@portalagro.com.br</span></p>
      </div>
    </div>
    <div class="row pt-5">
      <p class="col-md-6 text-left">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;2019 All rights reserved
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
        
      <p class="col-md-6 text-right social">
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="#"><span class="fa fa-instagram"></span></a>
        <a href="#"><span class="fa fa-youtube"></span></a>
      </p>
    </div>
  </div>
</footer>

