<!-- Menu -->
<header class="site-header js-site-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-6 col-lg-4 site-logo" data-aos="fade"><a href="/">Portal Agro</a></div>
      <div class="col-6 col-lg-8">


        <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- END menu-toggle -->

        <div class="site-navbar js-site-navbar">
          <nav role="navigation">
            <div class="container">
              <div class="row full-height align-items-center">
                <div class="col-md-6 mx-auto">
                  <ul class="list-unstyled menu">
                    <li class="active"><a href="/">Principal</a></li>
                    <li><a href="/produtos">Produtos</a></li>
                    <li><a href="/produtores">Produtores</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Sobre</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Mensagem Principal -->
<section class="site-hero overlay" style="background-image: url(/images/agricultura-familiar-2.jpg)" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center" data-aos="fade-up">
        <% if controller_name == "home" %>
          <span class="custom-caption text-uppercase text-white d-block  mb-3">Bem vindo ao <span class="fa fa-star text-primary"></span> Portal Agro <span class="fa fa-star text-primary"></span></span>
          <h1 class="heading">O Melhor da Agricultura Familiar da Sua Cidade</h1>
        <% else %>
          <h1 class="heading"><%= controller_name.capitalize %></h2>
        <% end %>
      </div>
    </div>
  </div>
  <% if controller_name == "home" %>
    <a class="mouse smoothscroll" href="#next">
      <div class="mouse-icon">
        <span class="mouse-wheel"></span>
      </div>
    </a>
   <% end %>
</section>